<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
<head>
    {{- partial "head/head.html" . -}}
    {{- partial "head/custom.html" . -}}  <!-- 添加这一行！ -->
</head>
<body class="{{ block `body-class` . }}{{ end }}">
    {{- partial "header.html" . -}}
    <div class="container main-content flex on-phone--column extended">
        {{- block "left-sidebar" . }}{{ end -}}
        <main class="main full-width">
            {{- block "main" . }}{{ end -}}
        </main>
        {{- block "right-sidebar" . }}{{ end -}}
    </div>
    {{- partial "footer/footer.html" . -}}
    {{- partialCached "footer/include.html" . -}}
</body>
</html>
